*{

	padding: 0;
	margin: 0;
}

/*Animaciones*/

:root{
--MainColor: #f85;
--SecondColor: #f65;
--ThirdColor: #444;
--FourthColor:  #fff;
--FiftColor:  #f802;
--SixColor: #222;
--SevenColor: #555;
--8Color: #666;

/*Black Mode*/
--B1Color: #f85;
--B2Color: #f65;
--B3Color: #444;
--B4Color: #2a2a2a;
--B5Color: #2e2e2e;
--B6Color: #222;
--B7Color: #fff;
--B8Color: #d9d9d9;

}

html{
	scroll-behavior: smooth;
}

/*From Up to Down*/
@keyframes Show-down{


	0%{

		opacity: 0;
		transform: translateY(-30px);
	}

	100%{

		opacity: .9;
		transform: translateY(0px);
	}

}

/*From Down to Up*/
@keyframes Show-up{


	0%{

		opacity: .9;
		transform: translateY(0px);
	}

	100%{

		opacity: 0;
		transform: translateY(-30px);
	}

}


/*Animaciones*/
body{

	background: var(--FiftColor);
/*	background-image: url("img/background.png");
	background-size: 100% 450px;
	background-repeat: no-repeat;*/

}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    background-color: #423535;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: var(--MainColor); 
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover{
	transition: all 1s;
	background: var(--SecondColor);
}


body .BG{
	position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 611px;
    background-position: center;
    animation-name: Show-down;
    animation-duration: 1.5s;
    animation-iteration-count: initial;
    background: -webkit-linear-gradient(90deg, #2e2e2e 5%, #fff0 38%), url(../img/background3.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

body .BG::before{

	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}


header{

	width: 100%;
	height: 70px;
	background: var(--MainColor);
	display: flex;
	animation-name: Show-down;
	animation-duration: 1s;
	animation-iteration-count: initial;
    justify-content: space-between;
	
}

header h1{

	line-height: 70px;
	margin-left: 15px;
	color: var(--FourthColor);
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0px 0px 6px var(--ThirdColor);
}

header img{

	width: 50px;
	height: 50px;
	margin-left: 30px;
	margin-top: 10px;
}


main{


	width: 800px;
	height: auto;
	margin:0 auto;
	margin-top: 240px;

}

.Logo{display: flex;}

.ModeContainer{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.ModeContainer > i{
    font-size: 23px;
    color: var(--FourthColor);
    cursor: pointer;
}


.Card {

	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 120px;
	border:1px solid #ccc;
	box-shadow: 0px 0px 5px  var(--ThirdColor);
	background:var(--FourthColor);
	border-radius: 5px;
	display: flex;
	margin-bottom: 100px;
	animation-name: Show-down;
	animation-duration: 1.6s;
	animation-iteration-count: initial;
	

	flex-flow: column wrap;
	align-content: center;
	align-items: center;
	gap:30px;
	transition: all 400ms;
}

#Inicio,#Historia,#Caracteristicas,#Comida{


	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
	gap:30px;
	opacity: 1;
	transition: all 400ms;

}


.Card .profile{

	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 7px var(--MainColor);
	margin-top: 20px;
	border-radius: 50%;
	border: 4px solid var(--MainColor);
}


.Card h2{

	color: var(--SevenColor);
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
}


.Card p{

	color: var(--8Color);
	line-height: 22px;
	padding-right: 75px;
	padding-left: 75px;
	margin-bottom: 40px;
	font-family: 'Josefin Sans', sans-serif;

}

.Card .Links{

	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.Card .Abutton{

	background:transparent;
	border:2px solid var(--MainColor);
	color: var(--MainColor);
	text-decoration: none;
	padding: 12px 35px;/*
	align-self: flex-start;*/
	transition: all 300ms;
}

.Card .Abutton:hover{

	color:var(--FourthColor);
	background: var(--MainColor);
	transform: scale(1.1);
}

.Card .footimg{

	position: absolute;
	bottom: 0;
	left:  0;
	margin-left: 20px;
	margin-bottom: 5px;
	width: 100px;
}


/*Historia Styles*/

.Card #Historia span{

	color: var(--MainColor);
}

.Card #Historia .HeadImg,
.Card #Caracteristicas .HeadImg,
.Card #Comida .HeadImg{

	position: relative;
	bottom: 0;
	left:  0;
	margin-top: 50px;
	width: 100px;
}


.Card #Historia h3{

	color: var(--SevenColor);
	font-size: 25px;
	align-self: center;
	font-family: 'Josefin Sans', sans-serif;
}



.Card #Historia p{

	color: var(--8Color);
	line-height: 22px;
	padding-right: 75px;
	padding-left: 75px;
	margin-bottom: 40px;
	font-family: 'Josefin Sans', sans-serif;

}

/*Caracteristicas Styles*/

.Card #Caracteristicas h3{

	color: var(--SevenColor);
	font-size: 25px;
	align-self: center;
	font-family: 'Josefin Sans', sans-serif;
}

/*Comida Styles*/


.Card #Comida h3{

	color: var(--SevenColor);
	font-size: 25px;
	align-self: center;
	font-family: 'Josefin Sans', sans-serif;
}

.Card #Comida span{

	color: var(--MainColor);
}


.Card #Historia.hidden,
.Card #Caracteristicas.hidden,
.Card #Comida.hidden,
.Card #Inicio.hidden,
.Card .Links a.hidden{

	opacity: 0;
	transform: translateY(50px);
	display: none;
	transition: all 400ms;
}

footer{

	width: 100%;
	height: 51px;
	color:var(--FourthColor);
	text-align: center;
	line-height: 51px;
	background: var(--SixColor);
}